.calcu{
    background-color: rgb(245, 248, 218);
    border-radius: 10px;
}
.row1{
    background-color: rgb(240, 244, 245);
    padding-top: 10px;
    border-radius: 10px;
}
.row2{
    background-color: rgb(240, 244, 245);
    padding-top: 10px;
    border-radius: 10px;
}